header{
    background-color: rgba(58, 57, 57, 0.883);
    
  }
  .App__body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(255, 121, 121, 0.575);
}
.App__main{
    background:white;
    margin-bottom:80px;
   
}

.add_meal_form{
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    padding:20px;
    font-weight: 600;

}
.add-meal-form{
    border:1px solid black;
    padding-bottom:10px;
    
}
.add_meal_btn{
    
    margin-bottom:20px;
    float:right;
    margin-left:15px;
}
.home-btn-browser{
    
    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
        text-decoration: none;
    text-align: center;
    display:block;
    color: white;
    font-weight: bold;
    background-color: rgba(19, 77, 19, 0.664);
    max-width: 60%;
    margin: auto;
}
.home-btn-planner{
    background-color: #0F4880;
    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
    text-decoration: none;
    text-align: center;
    color: white;
    display:block;
    font-weight: bold;
    max-width: 60%;
    margin: auto;
}

.browser_form{
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    padding:20px;
}

.result-item-image{
   margin-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.result-item-name{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.result-item-btn{
    margin-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  padding:10px;
  width: fit-content;
}

.home-page-div{
    padding:100px;
   background-color: aqua;
   display:block;
}

.LoginPage{
    border: 1px solid black;
    padding: 20px;
}
.RegistrationPage{
    border: 1px solid black;
    padding: 20px;
}