header{
    background-color: rgba(58, 57, 57, 0.883);
    
  }
  .App__body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(147, 95, 243, 0.575);
}
.App__main{
    background:white;
    margin-bottom:80px;
   
}

.add_meal_form{
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    padding:20px;
    font-weight: 600;

}
.add-meal-form{
    border:1px solid black;
    padding-bottom:10px;
    
}
.add_meal_btn{
    
    margin-bottom:20px;
    float:right;
    margin-left:15px;
    margin-right:15px;
    border:1px solid black;
    border-radius: 5px;
}
.home-btn-browser{
    
    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
        text-decoration: none;
    text-align: center;
    display:block;
    color: white;
    font-weight: bold;
    background-color: rgba(19, 77, 19, 0.664);
    max-width: 40%;
    margin: auto;
}
.home-btn-planner{
    background-color: #0F4880;
    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
    text-decoration: none;
    text-align: center;
    color: white;
    display:block;
    font-weight: bold;
    max-width: 40%;
    margin: auto;
}

.browser_form{
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    padding:20px;
}

.result-item-image{
   margin-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 15px;
}
.result-item-name{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.result-item-btn{
    margin-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  padding:10px;
  width: fit-content;
}

.result-item-ingredients{
    color:black;
    padding-left: 15px;
    padding-bottom:20px;
    padding-right:15px;
}

.home-page-div{
    padding:100px;
   background-color: rgba(0, 255, 255, 0.767);
   display:block;
}

.LoginPage{
    border: 1px solid black;
    padding: 20px;
}
.RegistrationPage{
    border: 1px solid black;
    padding: 20px;
}

.MealBrowserPage{
    padding:20px;
    border: 1px solid black;
}

@media screen and (max-width: 490px) {
.home-btn-browser{

    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
    text-decoration: none;
    text-align: center;
    display:block;
    color:white;
    font-weight: bold;
    background-color: rgba(19, 77, 19, 0.664);
    min-width: 90%;
    margin: auto;
    border-radius: 20px;
}
.home-btn-planner{
    background-color: #0F4880;
    padding: 20px;
    border: 5px solid  rgb(58, 57, 57);
    text-decoration: none;
    text-align: center;
    color:white;
    display:block;
    font-weight: bold;
    min-width: 90%;
    margin: auto;
    border-radius: 20px;

}

.MealBrowserPage{
    padding:5px;
    border: 1px solid black;
}
.meal-item{

    border: .5px #000000 solid;
    border-radius: 15px;
    padding: 7px;
    margin: auto;
    background-color: aliceblue;
    margin-bottom: 3px;
    width:80%;
    margin-top: 10px;
    font-weight: 700;
    
}
.add_meal_btn{
    
    margin-bottom:10px;
   
    margin-left:10px;
    margin-right:10px;
    border:1px solid black;
    border-radius: 5px;
}
 input.Input{
     border:.5px solid grey;
     border-radius: 5px;
 }   
 input.select{
    border:.5px solid grey;
    border-radius: 5px;
 }
 textarea.Textarea{
    border:.5px solid grey;
    border-radius: 5px;
 }
 input#BrowserForm_search_term{
    border:.5px solid grey;
    border-radius: 5px;
 }

 button.result-item-cal-btn{
    border:.5px solid grey;
    border-radius: 5px;
  
}
button.Button{
    border:.5px solid grey;
    border-radius: 5px;
  
}
button.result-item-book-btn{
    border:.5px solid grey;
    border-radius: 5px;
  
}
.result-item-image{
   margin-top:30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   border-radius: 15px;
}
.result-item-ingredients-btn{
    border:.5px solid grey;
    border-radius: 5px;
  
}
.result-item-ingredients{
    font-size: small;
}
}