.meal-item{
    
        border: .5px #000000 solid;
       padding: 7px;
       margin: auto;
        background-color: aliceblue;
        margin-bottom: 3px;
        
}
.delete-btn{
    float:right;
}
